<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Default View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Default View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-90e026d618fd4f04816640dabb54bf29.png" alt="Default View" usemap="#id-90e026d618fd4f04816640dabb54bf29map"/>
			   <map name="id-90e026d618fd4f04816640dabb54bf29map">
				          <area shape="rect" coords="548,1220,788,1330" href="../objects/id-1035a0c6efc44edd882efc468f7d843c.html" target="element" >
				  		<area shape="rect" coords="1340,1220,1580,1330" href="../elements/id-0f7ea7816fc045119cf634937887286d.html"  target="element">
				  		<area shape="rect" coords="1076,1220,1316,1330" href="../elements/id-b7d45e250b454791b0bb1f3cbccd403b.html"  target="element">
				  		<area shape="rect" coords="812,1220,1052,1330" href="../elements/id-88a4ec25dd9d4a00ac0d7fb143f09aba.html"  target="element">
				  		<area shape="rect" coords="284,1220,524,1330" href="../elements/id-47115f12dc4b43a18c838c6d1a93f0cd.html"  target="element">
				  		<area shape="rect" coords="20,1220,260,1330" href="../elements/id-20399bfcf0f64fba900ab52c4dc24a15.html"  target="element">
				          <area shape="rect" coords="20,1148,1580,1198" href="../objects/id-e53730c832eb489ca6e1a946a9bce459.html" target="element" >
				  				<area shape="rect" coords="1652,548,1942,658" href="../elements/id-c7e906f53b4f402ebbb19f9a5e72c133.html"  target="element">
				  				<area shape="rect" coords="1652,692,1942,802" href="../elements/id-d9ad398cc5cc486685d6f009ba3eebb8.html"  target="element">
				  				<area shape="rect" coords="1652,404,1942,514" href="../elements/id-9624f3d250654c9081752a5ea2a17c8f.html"  target="element">
				  				<area shape="rect" coords="1656,260,1938,370" href="../elements/id-63ce24170788426fa4c9ef0bf5197d61.html"  target="element">

				          <area shape="rect" coords="1628,188,1966,1102" href="../objects/id-a1a81205c34d4821b9de447666df2e2b.html" target="element" >
				  				<area shape="rect" coords="1340,758,1580,802" href="../elements/id-f30309065122489b85e55d034d5ae949.html"  target="element">
				  				<area shape="rect" coords="1340,698,1580,742" href="../elements/id-1eb6b954c5ac4ea597561a57e0241f07.html"  target="element">
				  				<area shape="rect" coords="1340,632,1580,676" href="../elements/id-abfa93cfe5974961934d2d979c1a3300.html"  target="element">
				  				<area shape="rect" coords="42,968,260,1078" href="../elements/id-8056039f0d2b4a45a370855ac478ea3b.html"  target="element">
				  				<area shape="rect" coords="1028,632,1268,742" href="../elements/id-9e49cdf5ee254a5c9b93cc55a7327d09.html"  target="element">
				  				<area shape="rect" coords="898,974,1116,1084" href="../elements/id-2e28c8e58d01480db82008b1930f6907.html"  target="element">
				  				<area shape="rect" coords="328,968,546,1078" href="../elements/id-e193164d76784ed2a871add2dc888ece.html"  target="element">
				  				<area shape="rect" coords="740,632,980,742" href="../elements/id-73ac35b3a8944551bbac1e8db4dbfe22.html"  target="element">
				  				<area shape="rect" coords="164,632,404,742" href="../elements/id-6653a9df67834d25865e00c219c41cdd.html"  target="element">
				  				<area shape="rect" coords="606,800,846,910" href="../elements/id-57cb7b058fb3413993e62412daf17ea9.html"  target="element">
				  				<area shape="rect" coords="318,800,558,910" href="../elements/id-da12103f62484cea9eae712c3ca91a9d.html"  target="element">
				  				<area shape="rect" coords="616,968,834,1078" href="../elements/id-68d71cb1035945e9ac8f8bdf7dec9018.html"  target="element">
				  				<area shape="rect" coords="452,632,692,742" href="../elements/id-c6d7917f7a1b406bad7e080254bb80f6.html"  target="element">

				          <area shape="rect" coords="20,572,1606,1102" href="../objects/id-9f5720edf7ed4039960e0481c3a885c1.html" target="element" >
				  				<area shape="rect" coords="1316,404,1574,502" href="../elements/id-16f8a992165d40298803c5d737d01c65.html"  target="element">
				  						<area shape="rect" coords="980,428,1166,478" href="../elements/id-a5d92e35e6b143308544300f5b0b58f9.html"  target="element">
				  						<area shape="rect" coords="980,380,1166,430" href="../elements/id-94cc7e32c13541779f233fd5b6494321.html"  target="element">
				  						<area shape="rect" coords="980,332,1166,382" href="../elements/id-deddd819db224464a5aae8a9555456ac.html"  target="element">

				  				<area shape="rect" coords="932,260,1222,502" href="../elements/id-bff02317f0d845dbb279e752d8682f79.html"  target="element">
				  				<area shape="rect" coords="44,260,284,370" href="../elements/id-0c2ef03ceaa74687b16f7662cd202c06.html"  target="element">
				  				<area shape="rect" coords="1316,260,1574,370" href="../elements/id-6fb6f3fd02b847ea83dbed0d7d54388e.html"  target="element">
				  				<area shape="rect" coords="620,260,860,370" href="../elements/id-25c1700e9fb74561944a44da09fd4ada.html"  target="element">
				  				<area shape="rect" coords="332,260,572,370" href="../elements/id-33eef914ceb04e26998a4f3132ed3149.html"  target="element">

				          <area shape="rect" coords="20,188,1606,550" href="../objects/id-2f25fea752fc40a98cf46442893ed224.html" target="element" >
				  		<area shape="rect" coords="908,20,1166,130" href="../elements/id-ded67996710449db8b5dc72b34f3fccc.html"  target="element">
				  		<area shape="rect" coords="308,20,574,130" href="../elements/id-632ffee56d944e4fac1fe211ddc65e28.html"  target="element">
				  		<area shape="rect" coords="620,20,860,130" href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
											    <td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-632ffee56d944e4fac1fe211ddc65e28.html" target="element"> Australia (citizen) </a> </td>
											    <td> <a href="../elements/id-632ffee56d944e4fac1fe211ddc65e28.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ded67996710449db8b5dc72b34f3fccc.html" target="element"> United Kingdom (9 years) </a> </td>
											    <td> <a href="../elements/id-ded67996710449db8b5dc72b34f3fccc.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2f25fea752fc40a98cf46442893ed224.html" target="element"> High Level IT Skills </a> </td>
									           <td> <a href="../objects/id-2f25fea752fc40a98cf46442893ed224.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-33eef914ceb04e26998a4f3132ed3149.html" target="element"> Solution Architecture </a> </td>
													    <td> <a href="../elements/id-33eef914ceb04e26998a4f3132ed3149.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25c1700e9fb74561944a44da09fd4ada.html" target="element"> Application &amp; Technical Architecture </a> </td>
													    <td> <a href="../elements/id-25c1700e9fb74561944a44da09fd4ada.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6fb6f3fd02b847ea83dbed0d7d54388e.html" target="element"> Development &amp; Infrastructure </a> </td>
													    <td> <a href="../elements/id-6fb6f3fd02b847ea83dbed0d7d54388e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c2ef03ceaa74687b16f7662cd202c06.html" target="element"> Enterprise Architecture </a> </td>
													    <td> <a href="../elements/id-0c2ef03ceaa74687b16f7662cd202c06.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bff02317f0d845dbb279e752d8682f79.html" target="element"> Software Processes </a> </td>
													    <td> <a href="../elements/id-bff02317f0d845dbb279e752d8682f79.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-deddd819db224464a5aae8a9555456ac.html" target="element"> SAFe </a> </td>
															    <td> <a href="../elements/id-deddd819db224464a5aae8a9555456ac.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-94cc7e32c13541779f233fd5b6494321.html" target="element"> Kanban </a> </td>
															    <td> <a href="../elements/id-94cc7e32c13541779f233fd5b6494321.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a5d92e35e6b143308544300f5b0b58f9.html" target="element"> Scrum </a> </td>
															    <td> <a href="../elements/id-a5d92e35e6b143308544300f5b0b58f9.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-16f8a992165d40298803c5d737d01c65.html" target="element"> Cloud </a> </td>
													    <td> <a href="../elements/id-16f8a992165d40298803c5d737d01c65.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9f5720edf7ed4039960e0481c3a885c1.html" target="element"> Specialisations &amp; Capabilities </a> </td>
									           <td> <a href="../objects/id-9f5720edf7ed4039960e0481c3a885c1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-c6d7917f7a1b406bad7e080254bb80f6.html" target="element"> Integration </a> </td>
													    <td> <a href="../elements/id-c6d7917f7a1b406bad7e080254bb80f6.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68d71cb1035945e9ac8f8bdf7dec9018.html" target="element"> OpenAPI Schemas </a> </td>
													    <td> <a href="../elements/id-68d71cb1035945e9ac8f8bdf7dec9018.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-da12103f62484cea9eae712c3ca91a9d.html" target="element"> SOA </a> </td>
													    <td> <a href="../elements/id-da12103f62484cea9eae712c3ca91a9d.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57cb7b058fb3413993e62412daf17ea9.html" target="element"> microservices </a> </td>
													    <td> <a href="../elements/id-57cb7b058fb3413993e62412daf17ea9.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6653a9df67834d25865e00c219c41cdd.html" target="element"> Digital </a> </td>
													    <td> <a href="../elements/id-6653a9df67834d25865e00c219c41cdd.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73ac35b3a8944551bbac1e8db4dbfe22.html" target="element"> Conceptual Data </a> </td>
													    <td> <a href="../elements/id-73ac35b3a8944551bbac1e8db4dbfe22.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e193164d76784ed2a871add2dc888ece.html" target="element"> WSDL Schemas </a> </td>
													    <td> <a href="../elements/id-e193164d76784ed2a871add2dc888ece.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e28c8e58d01480db82008b1930f6907.html" target="element"> Python (learning) </a> </td>
													    <td> <a href="../elements/id-2e28c8e58d01480db82008b1930f6907.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9e49cdf5ee254a5c9b93cc55a7327d09.html" target="element"> Event Driven Architectures </a> </td>
													    <td> <a href="../elements/id-9e49cdf5ee254a5c9b93cc55a7327d09.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8056039f0d2b4a45a370855ac478ea3b.html" target="element"> JavaScript </a> </td>
													    <td> <a href="../elements/id-8056039f0d2b4a45a370855ac478ea3b.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abfa93cfe5974961934d2d979c1a3300.html" target="element"> AWS </a> </td>
													    <td> <a href="../elements/id-abfa93cfe5974961934d2d979c1a3300.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1eb6b954c5ac4ea597561a57e0241f07.html" target="element"> Azure </a> </td>
													    <td> <a href="../elements/id-1eb6b954c5ac4ea597561a57e0241f07.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f30309065122489b85e55d034d5ae949.html" target="element"> GCP </a> </td>
													    <td> <a href="../elements/id-f30309065122489b85e55d034d5ae949.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a1a81205c34d4821b9de447666df2e2b.html" target="element"> High Level Generic Skills </a> </td>
									           <td> <a href="../objects/id-a1a81205c34d4821b9de447666df2e2b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-63ce24170788426fa4c9ef0bf5197d61.html" target="element"> Leadership, Psychology &amp; Soft Skills </a> </td>
													    <td> <a href="../elements/id-63ce24170788426fa4c9ef0bf5197d61.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9624f3d250654c9081752a5ea2a17c8f.html" target="element"> Communication &amp; Training </a> </td>
													    <td> <a href="../elements/id-9624f3d250654c9081752a5ea2a17c8f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9ad398cc5cc486685d6f009ba3eebb8.html" target="element"> Visualisation </a> </td>
													    <td> <a href="../elements/id-d9ad398cc5cc486685d6f009ba3eebb8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c7e906f53b4f402ebbb19f9a5e72c133.html" target="element"> User Experience </a> </td>
													    <td> <a href="../elements/id-c7e906f53b4f402ebbb19f9a5e72c133.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-e53730c832eb489ca6e1a946a9bce459.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e53730c832eb489ca6e1a946a9bce459.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-20399bfcf0f64fba900ab52c4dc24a15.html" target="element"> Location </a> </td>
											    <td> <a href="../elements/id-20399bfcf0f64fba900ab52c4dc24a15.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47115f12dc4b43a18c838c6d1a93f0cd.html" target="element"> Actor </a> </td>
											    <td> <a href="../elements/id-47115f12dc4b43a18c838c6d1a93f0cd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88a4ec25dd9d4a00ac0d7fb143f09aba.html" target="element"> Capability </a> </td>
											    <td> <a href="../elements/id-88a4ec25dd9d4a00ac0d7fb143f09aba.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7d45e250b454791b0bb1f3cbccd403b.html" target="element"> Business Function </a> </td>
											    <td> <a href="../elements/id-b7d45e250b454791b0bb1f3cbccd403b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f7ea7816fc045119cf634937887286d.html" target="element"> Technology Function </a> </td>
											    <td> <a href="../elements/id-0f7ea7816fc045119cf634937887286d.html" target="element" class="i18n-elementtype-TechnologyFunction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-1035a0c6efc44edd882efc468f7d843c.html" target="element"> Group </a> </td>
									           <td> <a href="../objects/id-1035a0c6efc44edd882efc468f7d843c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-68c7e79b7edb47c18b4b8f4412f387a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68c7e79b7edb47c18b4b8f4412f387a9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																		<td> <a href="../elements/id-0c2ef03ceaa74687b16f7662cd202c06.html" target="element"> Enterprise Architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22e303c3e74f42d29ff1665686694e1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22e303c3e74f42d29ff1665686694e1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																		<td> <a href="../elements/id-33eef914ceb04e26998a4f3132ed3149.html" target="element"> Solution Architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9851a0959ad248189c627eda55762278.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9851a0959ad248189c627eda55762278.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																		<td> <a href="../elements/id-25c1700e9fb74561944a44da09fd4ada.html" target="element"> Application &amp; Technical Architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72d7d0c98f474f7caee19658e8549187.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72d7d0c98f474f7caee19658e8549187.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																		<td> <a href="../elements/id-6fb6f3fd02b847ea83dbed0d7d54388e.html" target="element"> Development &amp; Infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b028273946e49fbbdceba10d4401171.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b028273946e49fbbdceba10d4401171.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																		<td> <a href="../elements/id-bff02317f0d845dbb279e752d8682f79.html" target="element"> Software Processes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66564b4721c940f291b8cb233c8f9134.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66564b4721c940f291b8cb233c8f9134.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-632ffee56d944e4fac1fe211ddc65e28.html" target="element"> Australia (citizen) </a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce1bd4ec7e3e46efbc001afd6d168ffa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce1bd4ec7e3e46efbc001afd6d168ffa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ded67996710449db8b5dc72b34f3fccc.html" target="element"> United Kingdom (9 years) </a> </td>
																		<td> <a href="../elements/id-59f52de0291f473d8a6a7eaa6c15eb80.html" target="element"> Richard West </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-711eaea8066d4f429999286e914cee4e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-711eaea8066d4f429999286e914cee4e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-68d71cb1035945e9ac8f8bdf7dec9018.html" target="element"> OpenAPI Schemas </a> </td>
																				<td> <a href="../elements/id-57cb7b058fb3413993e62412daf17ea9.html" target="element"> microservices </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-23dd8afe67ba4be29a116968b6136298.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23dd8afe67ba4be29a116968b6136298.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-da12103f62484cea9eae712c3ca91a9d.html" target="element"> SOA </a> </td>
																				<td> <a href="../elements/id-c6d7917f7a1b406bad7e080254bb80f6.html" target="element"> Integration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-68ac1c51d3de491db36054967a991f0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-68ac1c51d3de491db36054967a991f0a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57cb7b058fb3413993e62412daf17ea9.html" target="element"> microservices </a> </td>
																				<td> <a href="../elements/id-c6d7917f7a1b406bad7e080254bb80f6.html" target="element"> Integration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-aa496e9af77a49c7af009b9618c9d1c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa496e9af77a49c7af009b9618c9d1c2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e193164d76784ed2a871add2dc888ece.html" target="element"> WSDL Schemas </a> </td>
																				<td> <a href="../elements/id-da12103f62484cea9eae712c3ca91a9d.html" target="element"> SOA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2ed6fcef3ae34446b0c19059f8b91969.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ed6fcef3ae34446b0c19059f8b91969.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2e28c8e58d01480db82008b1930f6907.html" target="element"> Python (learning) </a> </td>
																				<td> <a href="../elements/id-57cb7b058fb3413993e62412daf17ea9.html" target="element"> microservices </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-97a0903d3ade4f5194d5e637423d1e61.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-97a0903d3ade4f5194d5e637423d1e61.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8056039f0d2b4a45a370855ac478ea3b.html" target="element"> JavaScript </a> </td>
																				<td> <a href="../elements/id-da12103f62484cea9eae712c3ca91a9d.html" target="element"> SOA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1d817aab03a1447e8bf6ea23a80f701d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d817aab03a1447e8bf6ea23a80f701d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abfa93cfe5974961934d2d979c1a3300.html" target="element"> AWS </a> </td>
																				<td> <a href="../elements/id-16f8a992165d40298803c5d737d01c65.html" target="element"> Cloud </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f9c2267df3304bb28c01f2daf1e5c5ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9c2267df3304bb28c01f2daf1e5c5ed.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1eb6b954c5ac4ea597561a57e0241f07.html" target="element"> Azure </a> </td>
																				<td> <a href="../elements/id-16f8a992165d40298803c5d737d01c65.html" target="element"> Cloud </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e3996a34a2d24989b63c3bc1e09bed1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3996a34a2d24989b63c3bc1e09bed1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f30309065122489b85e55d034d5ae949.html" target="element"> GCP </a> </td>
																				<td> <a href="../elements/id-16f8a992165d40298803c5d737d01c65.html" target="element"> Cloud </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>